<div class="main-map-container" (window:resize)="on_resize()">
  <svg class="main-map" #main_map></svg>
  <div class="main-map-options">
    <!-- Artist list dropdown -->
    <mat-form-field appearance="fill" class="artist-selector-container">
      <mat-label>Select artists</mat-label>
      <mat-select
        #select_artists
        (selectionChange)="select_artist($event.value)"
      >
        <mat-option>
          <ngx-mat-select-search
            [formControl]="artist_list.artists_search_control"
          ></ngx-mat-select-search
        ></mat-option>
        <!-- [disabled]="!artist_list.artists_loaded" -->
        <div style="height: 100em; width: 100%">
          <cdk-virtual-scroll-viewport itemSize="50" style="height: 100%">
            <mat-option
              *cdkVirtualFor="
                let artist of artist_list.filtered_artists | async
              "
              [value]="artist"
            >
              {{ artist.full_name }}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-select>
    </mat-form-field>

    <!-- List of selected artists -->
    <div class="selected-artists-container">
      <div
        *ngFor="let artist of artist_list.selected_artists"
        class="selected-artists"
      >
        <app-artist-card [artist]="artist"></app-artist-card>
        <button mat-icon-button color="warn" (click)="remove_artist(artist)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <!-- Some buttons -->
    <div class="options">
      <button mat-button (click)="clear_artists()">Clear</button>
      <button mat-button (click)="load_exhibitions()">Demo Exhibitions</button>
    </div>
  </div>
</div>
