/* -------------------------------------------------------------------------- */

.main-map-container {
  display: flex;
  flex-wrap: wrap;
}

.main-map {
  width: calc(65% - 2% - 2px);
  height: 100%;
  margin: 1%;
  border: 1px solid black;
  aspect-ratio: 5 / 3;
}

.main-map-options {
  width: calc(35% - 2%);
  padding: 1%;
}

/* Media query for small devices */
@media (max-width: 768px) {

  /* Stack divs vertically for small screens */
  .main-map,
  .main-map-options {
    width: 100%;
    /* Full width for small screens */
  }
}

/* -------------------------------------------------------------------------- */

.main-map-options {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 500px;
}

.artist-selector-container {
  margin-right: auto;
}

.selected-artists-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
}

.selected-artists {
  width: 15em;
  margin-right: 2em;
  flex: 0 0 auto;
  overflow-y: hidden;
}

.selected-artists>button {
  float: right;
  margin-top: -28%;
  margin-right: 5%;
  background: #f0f0f0;
  border-radius: 0.5em;
}

.selected-artists>button:hover {
  background: lightgray;
}

/* -------------------------------------------------------------------------- */